@use '../global' as *;
@use '../style.scss' as *;
@use '../components/compHeadFoot' as *;
@use '../components/compSinglePageBanner' as *;
@use '../components/compModal' as *;
@use '../components/compArticle' as *;
@use '../components/compPortfolio' as *;

.flip-section{
    display: flex;
    flex-direction: column-reverse;
}

.hero-banner{
    &__hero-slider-content{
        position: absolute;
        top: 55%;
        right: 50%;
        left: -50%;
        transform: translate(50%, -50%);
        text-align: center;
        color: $Nero-color;
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }

    &__title{
        @extend .font-display;
    }
    &__sub-title{
        @extend .font-heading-2;
        color: $Nero-color;
    }
    &__btn-scroll{
        margin-top: 70px;
        @extend .button--primary;
        @extend .font-label-20-rg-upper;
    }

    &:hover{
        .swiper__arrow-nav{
            opacity: 1;
        }
    }

    &__img-container{
        img{
            width: 100%;
            aspect-ratio: 4/2;
            object-fit: cover;
        }
        
    }

    &__arrow-nav{
        padding: 38px;
        border: 2px solid $Nero-color;
        border-radius: 50%;
        color: $Nero-color;
        opacity: 0;
        transition: .3s ease, opacity 400ms;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px;
        
        
        &::after{
            content: '' !important;
        }
        &:hover{
            background-color: $Pomegranate-color;
            border-color: $Pomegranate-color;
        }
        &--button-left{
            @extend .swiper__arrow-nav;
            left: var(--navigation-sides-offset, 50px);
            background-image: url(../../img/chevron-left.svg);
                background-position-x: calc(50% - 5%);
                background-position-y: calc(100% - 45%);
        
        }
        &--button-right{
            @extend .swiper__arrow-nav;
            right: var(--swiper-navigation-sides-offset, 50px);
            background-image: url(../../img/chevron-right.svg);
                background-position-x: calc(100% - 45%);
                background-position-y: calc(100% - 45%);
        
            &::after{
                content: unset;
            }
        }
    }
    
    &__custom-pagination{
        padding-bottom: 60px;
        .swiper-pagination-bullet {
            --swiper-pagination-bullet-horizontal-gap: 2px;
            padding: 6px 22px;
            border-radius: 0;
            border: 1px solid $Nero-color;
            background-color: $Nero50-color;
            z-index: 1;
            opacity: 0.5;
            transition: .5s ease;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
            background-color: $Pomegranate-color;
        }
    }

    @media (max-width:$desktop-laptop-small){
        &__img-container{
            img{
                height: 90vh;
                object-fit: cover;
            }
        }
        &__title{
            font-size: 52px
        }
        &__sub-title{
            font-size: 26px;
        }
    }
    @media (max-width:$mobile-tablet){
        &__arrow-nav{
            display: none;
        }
        &__hero-slider-content{
            padding: 0 20px;
        }
        &__title{
            font-size: 42px
        }
        &__sub-title{
            font-size: 22px;
        }
        &__custom-pagination {
            padding-bottom: 30px;
        }
    }
}

.about{
    &__container{
        @extend .container;
    }

    &__img-container{
        width: 40%;
        img{
            width: 100%;
        }
    }
    
    &__content-container{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-left: 40px;
    }
    &__title{
        @extend .font-heading-2;
        margin-bottom: 10px;
    }
    @media (max-width:$mobile-tablet){
        &__container{
            flex-direction: column;
        }
        &__img-container{
            width: 100%;
            
        }
        &__content-container{
            width: 100%;
            padding: 20px 0;
        }
    }
    @media (max-width:$mobile-phone-small){
        &__title{
            font-size: 28px;
        }
    }
}

.hr-divider{
    height: 4px;
    border:0;
    font-size: 0;
    background-color:$Alto-color;
    width: 300px;
}

